In [54]:
#pybank homework

In [1]:
#import relevant modules
import pandas as pd
import os

csv_file = "/Users/Jerry/Documents/Homework/python-challenge/budget_data.csv"

#upload cvs file
pybank_df = pd.read_csv(csv_file)

In [2]:
#py_bank_csv = pd.read_csv("C:\Users\19095\Downloads\budget_data.csv")
#SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape
#Solution found on: https://stackoverflow.com/questions/37400974/unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3-trunca

In [3]:
#preview beginning and ending of csv file

pybank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [58]:
pybank_df.tail()

In [59]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:
#The total number of months included in the dataset
pybank_df.columns

In [60]:
print("Financial Analysis")
print("--------------------------------------------")
month_count = len(pybank_df["Date"].unique())
print("Total Months: " + str(month_count))

In [61]:
#The net total amount of "Profit/Losses" over the entire period
net_total = pybank_df["Profit/Losses"].sum()
print("Total: $" + str(net_total))

In [62]:
#The changes in "Profit/Losses" over the entire period
dif_bw_months = pybank_df["Profit/Losses"].diff()
print(dif_bw_months)

In [63]:
#and then the average of those changes
avg_of_the_changes = dif_bw_months.mean()
rounded = round(avg_of_the_changes, 2)

print(f"Average Change: ${rounded}")

In [64]:
#my attempt to create a df with the column Date and the new column dif_bw_months
dif_bw_months = pd.DataFrame(pybank_df["Date"]), pybank_df["Profit/Losses"].diff()
dif_bw_months

In [65]:
#Finding the difference in profit/losses between months
dif_bw_months = pybank_df["Profit/Losses"].diff()
print(dif_bw_months)

#The greatest increase in profits (date and amount) over the entire period
greatest_positive_change = dif_bw_months.max()
greatest_positive_change

In [66]:
#The greatest decrease in profits (date and amount) over the entire period
greatest_negative_change = dif_bw_months.min()
greatest_negative_change

In [67]:
print("Financial Analysis")
print("--------------------------------------------")
print("Total Months: " + str(month_count))
print("Total: $" + str(net_total))
print(f"Average Change: ${rounded}")
print(f"Greatest Increase in Profits: Aug-16 ${greatest_positive_change}")

print(f"Greatest decrease in Profits: Feb-14 ${greatest_negative_change}")

Financial Analysis
--------------------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 $1862002.0
Greatest decrease in Profits: Feb-14 $-1825558.0

In [ ]:
file
with open(csv_file, 'r') as text:
    print(text)
    lines = text.